* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-style: normal;
}

input,
button {
  outline: none;
  border: none;
}

.active {
  background: white !important;
  color: #00945e;
}

.reponsive-div {
  width: 80%;
  margin: 0 auto;
}

.project-title {
  background: #00945e;
  color: white;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  padding: 16px 10px 16px 37px;
}

.company {
  height: 300px;
  background-image: url('../img/Julius-Berger\ 1.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 10px 0 40px;
  background-color: #e5e5e5;
  color: black;
  position: relative;
}

.image {
  position: absolute;
  bottom: 30%;
}

.company img {
  width: 100%;
  height: 10%;
}

.sub-nav {
  display: flex;
  position: absolute;
  bottom: -1px;
}

.sub-nav > div {
  padding: 10px 15px;
  background: #e1e1e1;
  font-weight: 500;
  margin-right: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.table-section {
  padding: 8px;
}

.table-top {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.table-top > h3 {
  color: #00945e;
  margin: auto 0;
  padding: 10px;
}

.table-top button {
  padding: 10px 30px;
  background: #00945e;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.main-table {
  border: 1px solid #f2f2f2;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 14px;
  font-size: 0.9rem;
}

th {
  background: white;
  color: black !important;
  font-size: 1.2rem;
  font-weight: 600;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

tr > :nth-child(2) {
  color: #00945e;
}

tr {
  border-bottom: 1px solid #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-footer {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 10px 5px;
}

.table-footer > span {
  margin: auto 0;
  color: #191e29;
}

.pagination {
  background: #f2f2f2;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #00945e !important;
  color: white;
  border: 1px solid #00945e !important;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (max-width: 480px) {
  .reponsive-div {
    width: 95%;
  }

  .table-top {
    font-size: 0.8rem;
  }

  .table-top > div {
    width: 100%;
  }

  .table-footer {
    display: block;
  }

  th {
    font-size: 0.8rem;
  }

  .table-footer {
    margin: 15px 5px 40px 5px;
  }

  .company {
    padding: 10px 10px 0 10px;
    height: 200px;
  }

  .image {
    position: absolute;
    bottom: 20px
  }
}
