body{
    font-family: 'Lato', sans-serif;
}

.connect {
    background-color: #005938;
    padding: 80px;
    margin: 0px;
    color: #ffffff;
    font-family: Lato;
    text-align: center;
}

.connect-text h2{
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
}

.connect-text h5 {
    font-size: 18px;
line-height: 25px;
}

.social button {
    color: #00945E;
    background-color: white;
    padding: 10px;
    border: none;
    margin-top: 35px;
    border-radius: 5px;
    width: 150px;
    font-weight: bold;
    font-size: 18px;
    line-height: 29px;
}


@media screen and (max-width: 500px){
    .connect-text h2{
        margin-top: -15px;
        font-size: 32px;
    }
    .connect-text h5 {
        font-size: 1em;
        margin-top: -25px;
        font-weight: normal;
    }
    .social a{
        font-size: 10px
    }
    .social a{
        text-decoration: none;
        font-size: 13px;
        margin-left: 6px;
        color: white
    }
    .social button{
        width: 120px;
        font-size: .9em;
        padding: 5px;
        margin-top: -1px;
    }
}
@media screen and (max-width: 300px){
    .social a{
        font-size: 10px
    }
    .social a{
        text-decoration: none;
        font-size: 13px;
        margin-left: 8px;
        color: white
    }

}
@media screen and (max-width: 220px){
    .connect {
        background-color: #005938;
        max-width: 100%;
        margin: 0px;
        color: #ffffff;
        font-family: Lato;
        text-align: center;
        font-size: 10px
    }
    .social a{
        font-size: 10px
    }
  
    .social a{
        text-decoration: none;
        font-size: 9px;
        margin-left: 8px;
        color: white
    }
    
    .connect-text h5 {
        font-size: 8px;
    }

}