/* @keyframes Slide_right{
    0%{
        transform: translateX(-400px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes Slide_left{
    0%{
        transform: translateX(400px);
    }
    100%{
        transform: translateX(0);
    }
} */
body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
header{
    height: 60px;
    font-family: 'Lato', sans-serif;
    animation: Slide_left 1.1s ease-in;
}
header *{
    color: black;
}
.logo{
    float: left;
    height: inherit;
    margin-left: 3.2em;
    margin-top: 15px;
}
.logo2{
    margin-left: -1em;
    width: 150px;
}
header ul{
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}
header ul li{
    float: left;
    position: relative;    
    margin-top: 18px;
}
header ul li ul{
    position: absolute;
    top: 40px;
    right: 6px;
    display: none;
}
header ul li:hover ul{
    display: block;
}
header ul li ul li{
    width: 100%;
}
header ul li ul li a{
    padding: 10px;
    background: #ebf1ef;
    text-align: center;
}
header ul li ul li a:hover{
    background-color:  #00945E;
    text-decoration: none;
    color: white;
}
header ul li a{
    display: block;
    padding: 20px;
    font-size: 1.2em;
    text-decoration: none;
    margin-right: 25px;
    color: black;
    
}
header ul li a:hover{
    text-decoration: none;
    font-weight: 600;
    color: black;
}
header .menu-toggle{
    display: none;
}
.active{
    font-weight: bold;
    color: black;
}

@media only screen and (max-width: 750px){
.logo{
    margin-top: 20px;
    margin-left: 10px;
}
.logo1{
    width: 70px;
}
.logo2{
    width: 130px;
}
header{
    position: relative;
}
header ul{
    width: 100%;
    background: #ebf1ef;
    max-height: 0px;
    overflow: hidden;
}
.showing{
    max-height: 100em;
}
header ul li{
    width: 100%;
}
header ul li ul{
    position: static;
    /* display: block; */
    width: 100%;
}
header ul li ul li a{
    text-align: left;
    padding-left: 50px;
}
header .menu-toggle{
    display: block;
    position: absolute;
    right: 20px;
    top: 35px;
}
}