/* @keyframes Slide_right{
    0%{
        transform: translateX(-400px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes Slide_left{
    0%{
        transform: translateX(400px);
    }
    100%{
        transform: translateX(0);
    }
} */

body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
/* banner */
.banner-section{
    width: 100%;
    animation: Slide_right 1.1s ease-in;
}
.home-banner{
    background-color: #00945E;
    height: 40px;
    color: #fff;
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
    margin-top: 10px;
    font-size: 1em;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    
}
.banner{
    background: linear-gradient( rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.623) ), url(../img/images28.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    margin-top: -21px;
}
.banner h1{
    text-align: left;
    font-size: 1.5em; 
    font-weight: bold;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 20px;
    margin-top: 21px;
    color: white;
    font-family: 'Lato', sans-serif;
}
.banner p{
    font-size: 12px;
    text-align: left;
    color: white;
    padding-right: 30px;
    padding-left: 15px;
    padding-bottom: 50px;
    font-family: 'Lato', sans-serif;
}
/* MAIN FEATURE  */
.mainfeature-section{
margin-bottom: 20px;
text-align: center;
}
.mainfeature-heading h3{
    font-weight: bold;
    font-size: 1.6em;
}
.dash{
    margin-top: -5px;
    color: green;
    width: 10%;
    border-width: 3px;
    border-color: #00945E;    
}
.mainfeature-item{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column ;
    margin-top: 20px;
}
.left-image{
    width: 100%;
    height: 220px;
    background: url(../img/Rectangle\ 331.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
}
.right-image{
    width: 100%;
    height: 240px;
    margin-top: 20px;
    background: url(../img/exec.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}
.green-heading{
    color: #00945E;
    font-weight: bold;
    margin-top: 15px;
}
.right-content p, .left-content p{
    
    padding: 12px;
    font-size: .9em;
    margin-top: -10px;
    color: #353A45;
}
.first{
    animation: Slide_right 1.5s ease-in;
}
.second{
    animation: Slide_left 1.5s ease-in;
}
.right-content .btn, .left-content .btn{
    width: 120px;
    padding: 10px;
    margin-top: -20px;
    background: #00945E;
    color: #fff;
    border-radius: 5px;
    border-style: none;
}

@media only screen and (min-width: 650px){
    
}

@media only screen and (min-width: 1024px){
    .active{
        font-weight: bold;
    }
    .home-banner{
        /* width: 100%; */
        margin-top: 10px;
        height: 50px;
        padding-top: 10px;
        padding-left: 55px;
        font-weight: bold;
        font-weight: bold;
        font-size: 28px;
        line-height: 34px;
    }
    .banner{
        margin-top: -45px;
        height: 503px;
        width: 100%;
    }
    .banner h1{
       padding-top: 70px;
       font-size: 56px;
       line-height: 74px;
       font-weight: bolder;
       margin-left: 30px;
        margin-top: 45px;
    }
    .banner p{
        width: 40%;
        padding-left: 50px;
        font-weight: 600;
        font-size: 1em;
        line-height: 29px;
    }
    .mainfeature-item{
        flex-direction: row;
        width: 70%;
    }
    .mainfeature-heading h3{
        font-weight: bold;
        font-size: 36px;
        line-height: 135.5%;
    }
    .dash{
        margin-top: -5px;
    }
    .green-heading{
        font-weight: bold;
        font-size: 36px;
        line-height: 135.5%;
    }
    .first{
        margin-left: 180px;
        margin-top: 50px;
        animation: Slide_right 1.3s ease-in;
    }
    .second{
        margin-right: 180px;
        margin-top: 20px;
        animation: Slide_left 1.3s ease-in;
    }
    .left-image, .right-image{
        height: 350px;
        margin-right: 5px;
        width: 50%;
    }
    .right-content, .left-content{
        width: 50%;
        margin-top: 20px;
        text-align: left;
        margin-left: 30px;
        font-size: 16px;
        line-height: 152%;
    }
    .right-content{
        margin-left: 50px;
    }
    .left-content{
        margin-left: 100px;
    }
    .green-heading{
        font-size: 1.5em;
        line-height: 135.5%;
    }
    .right-content p, .left-content p{
        font-size: 1.1em;
        line-height: 152%;
        width: 80%;
    }
    .right-content p{
        padding-left: 1px;
    }
    .left-content p{
        padding-left: 1px;
    
    }
    .right-content .btn, .left-content .btn{
        padding: 10px;
        width: 150px;
        font-weight: bold;
        font-size: 18px;
        line-height: 29px;
    }
}
