@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    font-size: 16px;
}
body {
  font-family: 'Lato', sans-serif;
}
#companySearchPage {
  background-color: #00945E;
  padding: 0.5em 2.5em;
  font-size: 1.7rem;
  color: #FFFFFF;
}
#searchBackground {
  background-image: url('../img/oil-rig.jpg');
  background-size: cover;
  background-position: center;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-top: 3em;
  margin-bottom: 8em;
}
#myInput {
  background-image: url('../img/searchicon.png');
  background-position: 10px 12px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 96%;
  width: 100%;
  font-size: 16px;
  padding: 12px 0px 12px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
#searchText {
  font-size: 1.5rem;
  color: #FFFFFF;
  margin-top: 6em;
}
.inputdiv {
  width: 70%;
  display: flex;
  justify-content: center;
  margin-right: 2em;
}
.buttondiv {
  width: 30%;
}
button {
  padding-left: 3.3em;
  padding-right: 3.3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #00945E;
  border: none;
  font-size: 1.2rem;
  color: #FFFFFF;
  border-radius: 5px;
}
/* #myInput:focus {
    width: 50%;
} */

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}
  
#myUL li a:hover:not(.header) {
  background-color: #eee;
}
h3 {
  margin: 0px;
}

@media (min-width: 300px) and (max-width: 425px) {
  #searchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .inputdiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
    margin-right: 0px;
  }
  .buttondiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
  }
  #companySearchPage {
    font-size: 1rem;
    padding: 0.2em 0.8em;
  }
  #searchText {
    text-align: center;
    font-size: 0.7rem;
    margin-top: 3em;
  }
  button {
    width: 100%;
  }
  #myInput:focus {
    width: 100%;
  }
}
@media (max-width: 768px) {
  #searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 1em;
  }
  #companySearchPage {
    padding-left: 1.2em;
    font-size: 1.4rem;
  }
  #searchText {
    font-size: 1.2rem;
  }
}