.back{
	margin-right: -20px;
}
.sart{
	margin-right: px;
}
.navbar{
	width: 121.6%;
	margin-left: -120px;
}
.nav-link{
	color: black !important;
	font-size: 20px;
	margin-left: 25px;
}
.nav-item , .search{
	background-color: #ffff !important;
}
.nav-link:hover{
	color: #00945E !important;
}
.my-footer ul {
  list-style-type: none;
  padding-left: 0;
  color: white;
}.my-footer a {
  color: #fff !important;
}
.my-footer {
  background-color: #323E48 !important;
}
h6{
	color: white;
	margin-top: 25px;
}
.fa-search{
	color: grey !important;
}
.fa-search:hover{
	color: black !important;
}
.ft{
	margin-top: 25px;
}
.lower{
	background-color: #1F2430;
	padding: 10px;
}
@media only screen and (max-width: 650px){
	body{
		overflow-x: hidden;
	}
	.nav-link{
		font-size: 16px;
	}
	.navbar{
		width: 100%;
		margin-left: -10px;
	}
	.fa-bars{
		margin-left: 255px;
		font-size: 24px;
	}
.navbar-brand img{
	width: 70%;
}
}