.first{
    background-color: #f2f2f2;
    font-weight: bold;
}
  
.first li a{
    color: #6c757d;
}
  
.first li a:hover{
    text-decoration: none;
    color: #00945E;
}
  
.first li.active{
    color: #00945E;
}