.first{
    background-color: #f2f2f2;
    font-weight: bold;
}

.first li a{
    color: #6c757d;
}
  a:hover{
    color: #00945E !important;

  }
.first li a:hover{
    text-decoration: none;
    color: #00945E !important;
}

.first li.active{
    color: #00945E !important;
}
