body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

/* a {
  color: #00945E;
} */

.page-link {
  color: #00945E;
}

#main {
  margin: 5rem 0;
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
  height: 4px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 148, 94, 0.62);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 148, 94, 0.82);
}

/* Navigation Links */
.navigation-links ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.navigation-links ul li {
  display: inline-block;
  margin: 5px;
}

.navigation-links ul li a {
  color: #00945e;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: padding 0.3s;
}

.navigation-links ul li a:hover {
  padding-bottom: 0.3rem;
  border-bottom: 2px solid #00945e;
}

/* Section 1 */
.user-profile {
  text-align: center;
  max-width: 850px;
}

.user-profile img {
  width: 45px;
}
.profile-overview{
  margin-bottom: 50px;
}
.name{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 40px;
}
.font-weight-bold{
  font-size: 18px;
  font-weight: 500;
  /* padding-left: 20px; */
}
.twitter-handle{
  font-size: 20px;
  color: #6765EC !important;
}

.twitter-handle:hover {
  text-decoration: none;
  color: #43419d !important;
}

.amount-rewarded, .contract-number {
  font-size: 20px;
  line-height: 29px;
  color: #00945E;
}

.user-profile .year{
  font-size: 13px;
  line-height: 16px
}

.content-navigator {
  color: black;
  font-size: 17px;
  font-weight: bold;
  line-height: 22px;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}

.content-navigator a {
  color: #A1A3A8;
}
.content-navigator .active {
  text-decoration: none;
  color: #00945E;
}

.content-navigator a.active {
  padding-bottom:14px; 
  border-bottom: 3px solid#00945E;
}

.content-navigator a:hover{
  text-decoration: none;
}

/* Section-2 */
.table{
  margin-top: 50px;
}
h5{
  font-size: 18px;
}
.section-2 th{
  font-size: 20px;
}
.section-2 td{
  font-size: 17px;
}
.date-btn {
  background-color:  #00945E;
  color: white;
  transition: all 0.3s;
}

.date-btn:hover {
  background-color: white;
  color:  #00945E;
  border: 1px solid  #00945E;
}

.date-btn i {
  width: 15px;
}

.date-btn:hover i {
  color: #00945E
}
/* .table{
  margin-top: -21px;
} */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: white;
}

.section-2 thead, .section-2 tr:nth-child(even) {
  background-color: #F2FAF7;
}

.section-2 .card-title {
  display: flex;
  justify-content: space-between;
}

.table-pagination {
  text-align: center;
}
.table-pagination p{
  font-size: 14px;
}
.table-pagination .page-item a .active{
  color: #f1f1f1 !important;
  background-color: #00945E !important ;
}
.table-pagination ul li a:hover{
color: #f1f1f1;
background-color: #00945E;
}
/* Section 3 */
.section-3 th{
  font-size: 16px;
  color: #00945E;
}
/* .section-3 th:hover{
  background-color: #00945E;
  color: black;
} */
.td-year{
  font-size: 14px;
  font-weight: bold;
}
.amount{
  font-size: 13px;
}
.section-3 .summary {
  max-width: 768px;
  margin: auto;
}

.section-3 .table {
  font-size: 0.8rem;
}

@media screen and (max-width: 410px) {
  .content-navigator a::before {
    top: 71px;
  }
  .section-1{
    margin-top: -30px;
  }
  .navigation-links ul li a{
    font-size: 14px;
    padding-left: -20px;
  }
  .name{
    font-size: 24px;
    margin-top: -1px;
    text-align: left;
    margin-bottom: 25px;
  }
  .user-profile{
    width: 100%;
    text-align: left;
    margin-left: 15px;
  }
  .user-profile .col-sm-4{
    margin-top: 10px;
  }
  .user-profile img{
    width: 30px;
  }
  .user-profile .row{
    margin-top: -20px;
  }
  .font-weight-bold{
    font-size: 16px;
  }
  .twitter-handle, .amount-rewarded, .contract-number{
    font-size: 16px;
  }
  .content-navigator{
    font-size: 14px;
    margin-top: -35px;
  }
  .content-navigator a::before {
    content: '';
    position: absolute;
    top: 45px;

  }
  .table{
    margin-top: 5px;
  }
  h5{
    font-size: 16px;
    margin-left: -170px;
  }
  .section-2 th{
    font-size: 18px;
  }
  .section-2 td{
    font-size: 14px;
  }
  .section-2 button{
    margin-right: -210px;
    margin-top: -35px;
  }
  .section-3 th{
    font-size: 16px;
  }
  .section-3 .td-year{
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .section-2 .card-title {
    flex-flow: column;
    align-items: center;
  }
}

@media screen and (min-width: 576px) {
  .user-profile, .navigation-links ul {
    text-align: left;
  }

  .navigation-links ul li:first-child {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .section-2 .table-pagination, .section-3 .table-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section-3 .table-pagination {
    margin-top: 0 !important;
  }
}

/*Pagination*/
.table-footer{
	margin: 3rem .5rem;
}

@media screen and (max-width: 768px) {
  .table-footer {
    flex-direction: column;
  }
}

.table-footer {
	display: flex;
	justify-content: space-between;
	padding: 5px 10px;
	margin: 10px 5px;
}

.table-section{
	margin-bottom: 3rem;
}

.table-footer > span {
	margin: 0;
	color: grey;
	font-size: var(--fs-reg);
	font-weight: 200;
}

.pagination {
	background: #f2f2f2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pagination1{
	margin: 2rem .5rem;
}

.pagination2{
	margin: 0 0 7rem;
}

.pagination a {
  color: black !important;
  float: left;
  padding: 8px 16px;
  text-decoration: none !important;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #00945e !important;
  color: white !important;
  border: 1px solid #00945e !important;
}

.pagination a:hover:not(.active) {
  background-color: #ddd !important;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
  