body {
	font-family: "Lato", sans-serif;
}

#banner {
	margin: 60px 0px 150px -10px;
}
h1{
	font-size: 30px;
	font-weight: bold;
}
#banner p{
	font-size: 16px;
}
.contact h2{
	font-size: 30px;
	color: #00945E;
	margin-top: -105px;
}
.contact .para{
	font-size: 16px;
}
input{
	margin: 20px 0px;
	font-size: 16px;
}
.btn-success {
	width: 35%;
	font-size: 16px;
	font-weight: bold;
	margin: 20px 0px;
	background: #00945E !important;
	border-radius: 5px;
	padding: 10px;
}
.btn-success:hover{
	background: #078155 !important;
}
aside {
	color: white;
}
.banner-hr{
	width: 75%;	
	background-color: #fff;
}

hr {
	width: 75%;
	margin-top: 5px;
	margin-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.534);
}

.banner {
	width: 100%;
	background: linear-gradient(0deg,rgba(50, 62, 72, 0.33),rgba(50, 62, 72, 0.33)),rgba(0, 148, 94, 0.67);

}

.align {
	text-align: center;
}

h4 {
	font-size: 24px;
	line-height: 135.5%;
	text-align: center;
	/* margin-left: 55px; */
}

.fa-map-marker,
.fa-phone,
.fa-envelope,
.fa-facebook,
.fa-twitter {
	color: #00945E;
}

span {
	margin-bottom: 20px;
	margin-left: -220px;
}
.col-sm-8{
	text-align: center;
	margin-left: 100px;
	margin-top: -52px;
	font-size: 14px;
}
.greenify {
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 50px 20px;
	width: 100%;
	background: linear-gradient(0deg,rgba(50, 62, 72, 0.33),rgba(50, 62, 72, 0.33)),rgba(0, 148, 94, 0.67);
}
.greenify .fa-twitter{
	color: #55acee;
}
.greenify h2{
	font-size: 30px;
	text-align: left;
	margin-top: -10px;
}
.greenify p{
	text-align: left;
	font-size: 14px;
	margin-top: -15px;
}
.twitter-back {
	opacity: 0.2;
	width: 230px;
	z-index: -1;
}

.button {
	border: none;
	position: absolute;
	top: 90px;
	left: 60px;
	font-weight: 12px;
	padding: 5px;
	color: #55acee;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.06);
	border-radius: 5px;
}
@media only screen and (min-width: 430px){
	span{
		margin-left: -260px;
	}
	.col-sm-8{
		margin-left: 140px;
	}
}
@media only screen and (min-width: 530px){
	span{
		margin-left: -320px;
	}
	.col-sm-8{
		margin-left: 160px;
	}
}
@media only screen and (min-width: 576px){
	.contact{
		padding-top: 25px ;
		padding-bottom: 15px ;
	}
	span{
		margin-left: 5px;
	}
	.col-sm-8{
		margin-left: 130px;
	}
}
@media only screen and (min-width: 777px){
	span{
		margin-left: 5px;
	}
	.col-sm-8{
		margin-left: 90px;
	}
}
@media only screen and (min-width: 1024px){
	body{
		overflow-x: hidden;
	}
#banner {
	margin: 100px 0px 150px 20px;
}
h1{
	font-size: 56px;
	width: 120%;
}
#banner p{
	font-size: 24px;
	width: 150%;
}
.contact h2{
	font-size: 40px;
	color: #00945E;
}
.contact .para{
	font-size: 20px;
}
input{
	margin: 30px 0px;
	font-size: 16px;
}
.btn-success {
	width: 220px;
	font-size: 24px;
	font-weight: bold;
	margin: 30px 0px;
	border-radius: 5px;
	padding: 10px;
}

.contact{
	margin-left: 145px;
	margin-top: 220px;
}
aside {
	color: white;
	margin-top: -90px;
}
.banner-hr{
	width: 75%;	
	background-color: #fff;
}

hr {
	width: 75%;
	margin-top: 5px;
	margin-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.534);
}

.banner {
	width: 90%;
	background: linear-gradient(
			0deg,
			rgba(50, 62, 72, 0.33),
			rgba(50, 62, 72, 0.33)
		),
		rgba(0, 148, 94, 0.67);
	margin-left: 20px;
	padding-top: 30px;
	padding-bottom: 20px;
}

.align {
	text-align: center;
}

h4 {
	font-size: 24px;
	line-height: 135.5%;
	text-align: left;
	margin-left: 55px;
}

.fa-map-marker,
.fa-phone,
.fa-envelope,
.fa-facebook,
.fa-twitter {
	color: #00945E;
}

span {
	margin-bottom: 20px;
}
.col-sm-8{
	margin-left: -45px;
	font-size: 16px;
	margin-top: -3px;
}
.greenify {
	margin-left: 89px;
	margin-top: 80px;
	margin-bottom: 80px;
	padding: 60px;
	width: 120%;
	height: 452px;
	background: linear-gradient(0deg,rgba(50, 62, 72, 0.33),rgba(50, 62, 72, 0.33)),rgba(0, 148, 94, 0.67);
}
.greenify .fa-twitter{
	color: #55acee;
}
.greenify h2{
	margin-left: -40px;
	margin-top: 60px;
	font-size: 40px;
}
.greenify p{
	font-size: 20px;
	margin-left: -40px;
	margin-top: 0;
}
.twitter-back {
	margin-top: 70px;
	opacity: 0.2;
	width: 400px;
	z-index: -1;
}

.button {
	width: 200px;
	border: none;
	position: absolute;
	top: 230px;
	left: 70px;
	padding: 8px 25px;
}
}