body {
    font-family: "Lato", sans-serif;
}

#banner {
	margin: 60px 0px 150px -15px;
}
h1{
	font-size: 24px;
	font-weight: bold;
}
#banner p{
	font-size: 16px;
}
.contact h2{
	font-size: 24px;
	font-weight: bold;
	color: #00945E;
	margin-top: -105px;
}
.contact .para{
	font-size: 16px;
}
input{
	margin: 20px 0px;
	font-size: 16px;
}
.btn-success {
	width: 35%;
	font-size: 16px;
	font-weight: bold;
	margin: 20px 0px;
	background: #00945E !important;
	border-radius: 5px;
	padding: 10px;
}
.btn-success:hover{
	background: #078155 !important;
}
aside {
	color: white;
}


.banner-hr{
	width: 75%;
	background-color: #fff;
}

hr {
	width: 75%;
	margin-top: 5px;
	margin-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.534);
}

.banner {
	width: 100%;
	background: linear-gradient(0deg,rgba(50, 62, 72, 0.33),rgba(50, 62, 72, 0.33)),rgba(0, 148, 94, 0.67);

}

.align {
	text-align: center;
}

h4 {
	font-size: 24px;
	line-height: 135.5%;
	text-align: center;
}

.fa-map-marker,
.fa-phone,
.fa-envelope,
.fa-facebook,
.fa-twitter {
	color: #00945E;
}

.banner-hr span {
	margin-bottom: 20px;
	margin-left: -220px;
}
.col-sm-8{
	text-align: center;
	margin-left: 120px;
	margin-top: -52px;
	font-size: 14px;
}
.greenify {
    position: relative;
	margin-top: 35px;
	margin-bottom: 35px;
	padding: 30px 30px;
	width: 100%;
    background: linear-gradient(0deg,rgba(50, 62, 72, 0.33),rgba(50, 62, 72, 0.33)),rgba(0, 148, 94, 0.67);
    z-index: 999;
    overflow: hidden;
}
.greenify .fa-twitter{
	color: #55acee;
}
.greenify h2{
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	margin-top: -10px;
}
.greenify p{
	text-align: left;
	font-size: 16px;
	margin-top: -15px;
}
.twitter-back {
	opacity: 0.2;
	width: 230px;
    z-index: -999;
}

.button {
	border: none;
	position: absolute;
	top: 90px;
	left: 60px;
	font-weight: 12px;
	padding: 5px;
	color: #55acee;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.06);
	border-radius: 5px;
}

.second{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.second input.col-md-5{
	margin-top: 0;
	width: 48%;
}

@media (min-width: 767px) and (max-width: 992px){
	.second{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.second input.col-md-5{
		margin-top: 0;
		width: 100%;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.second{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.second input.col-md-5{
		margin-top: 0;
		width: 48%;
	}
}

@media only screen and (min-width: 200px){
	span{
        position: relative;
        margin-left: -60vw;
        bottom: 2vh;
    }

	.col-sm-8{
        position: relative;
        margin-left: 40vw;
        bottom: -10px;
    }

    form{
        margin-left: -3.6vw;
    }
}

@media only screen and (min-width: 430px){
	span{
		margin-left: -300px;
	}
	.col-sm-8{
		margin-left: 150px;
	}
}
@media only screen and (min-width: 530px){
	span{
		margin-left: -350px;
	}
	.col-sm-8{
		margin-left: 180px;
    }
}
@media only screen and (min-width: 576px){
	.contact{
		padding-top: 25px ;
		padding-bottom: 15px ;
	}
	span{
		margin-left: 5px;
	}
	.col-sm-8{
		margin-left: 150px;
    }

    form{
        margin-left: -2vw;
    }
}
@media only screen and (min-width: 576px){
	.second input.col-md-5{
		flex: 0 0 48%;
		max-width: 100%;
    }
}

@media only screen and (min-width: 777px){
	span{
		margin-left: 5px;
    }

    .contact-green{
        position: relative;
        top: -20vh;
    }

	.col-sm-8{
		margin-left: 90px;
    }

    .twitter-back{
        margin-left: 8vw;
    }

    .button-tw {
        margin-left: 8vw;
    }

    form{
        margin-left: -1.3vw;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1023px) {
    .col-sm-8{
		margin-left: 130px;
    }
    form{
        margin-left: -1.3vw;
    }


}

@media only screen and (min-width: 1024px){
	body{
		overflow-x: hidden;
	}
#banner {
	margin: 60px 0px 150px -15px;
}
h1{
	font-size: 35px;
	width: 120%;
}
#banner p{
	font-size: 20px;
	width: 150%;
}
.contact h2{
	font-size: 32px;
	font-weight: bold;
	color: #00945E;
}
.contact .para{
	font-size: 20px;
}
input{
	margin: 30px 0px;
	font-size: 16px;
}
.btn-success {
	width: 150px;
	font-size: 18px;
	font-weight: bold;
	margin: 25px 0px;
	border-radius: 5px;
	padding: 10px;
}

.contact{
	/* margin-left: 145px; */
    margin-top: 180px;
    margin-bottom: 35vh;
}

.contact-green{
    top: -0vh;
}

aside {
	color: white;
	margin-top: -90px;
}

.banner-hr{
	width: 75%;
	background-color: #fff;
}

hr {
	width: 75%;
	margin-top: 5px;
	margin-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.534);
}

.banner {
	width: 90%;
	background: linear-gradient(
			0deg,
			rgba(50, 62, 72, 0.33),
			rgba(50, 62, 72, 0.33)
		),
		rgba(0, 148, 94, 0.67);
	margin-left: 20px;
	padding-top: 30px;
	padding-bottom: 20px;
}

.align {
	text-align: center;
}

form{
    margin-left: -1.3vw;
}

h4 {
	font-size: 24px;
	line-height: 135.5%;
	text-align: left;
	margin-left: 55px;
}

.fa-map-marker,
.fa-phone,
.fa-envelope,
.fa-facebook,
.fa-twitter {
	color: #00945E;
}

span {
    position: relative;
    margin-bottom: 20px;
    bottom: -1vh;
}
.col-sm-8{
	margin-left: -40px;
	font-size: 16px;
	margin-top: -3px;
}
.greenify {
	/* margin-left: 210px; */
	margin-top: 30px;
	margin-bottom: 40px;
	padding: 60px;
	width: 100vw;
	height: 400px;
    background: linear-gradient(0deg,rgba(50, 62, 72, 0.33),rgba(50, 62, 72, 0.33)),rgba(0, 148, 94, 0.67);
    z-index: 999;
}
.greenify .fa-twitter{
    color: #55acee;
}
.greenify h2{
	margin-left: -40px;
	margin-top: 20vh;
	font-size: 34px;
}
.greenify p{
	font-size: 18px;
	margin-left: -40px;
}
.twitter-back {
	margin-top: 70px;
	opacity: 0.2;
	width: 350px;
	z-index: -1;
}

.button {
	width: 200px;
	border: none;
	position: absolute;
	top: 210px;
	left: 70px;
	padding: 8px 25px;
}
.fc-e{
    width: 19vw;
}

.fc-p{
    width: 19vw;
}

}
