.panel{
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;

}
.tweet-plugin{
    top:250px !important;
}
.tweet-button:hover {
    right: 60px !important;
}
.tweet-list-button:hover{
    right: 60px;
}
.tweet-list-plugin{
    top: 350px !important;
}
