.btn-date,
.btn-amount {
    border: 1px solid#00945E;
    background-color: #EBF1EF;
}

.form-control{
    border: 1px solid#00945E;
}
.btn-subscribe{
    background-color: #00945E;
    color: #FFFFFF;
}
.btn.active {
    background-color: #00945E;
    color: #FFFFFF;
}

.ui-datepicker-calendar { display: none; }
#ui-datepicker-div{
    position: fixed !important;
    top: 49% !important;
    left: 44% !important;
    transform: translate(-50%, -50%);
}
[data-handler="today"] {
    display: none
}

.switch-list li.active{
    border-bottom: 2px solid #00945e;
}

.monthYearPicker,
.yearPicker{
    display: none;
}


.modal-title{
color: #00945E;
padding-left: 20px !important;
padding-right: 20px !important;
}

#modal section{
padding-left: 20px !important;
padding-right: 20px !important;
}

#apply-filter{
    background-color: rgba(0, 148, 94, 1)
}
#apply-filter:hover{
background-color: rgba(4, 124, 80)
}

#sort-options{
margin-bottom: 25px;
margin-top: 30px;
}

#view{
margin-top: 16px;
}

.modal-footer{
    padding-bottom: 25px;
    border-top: none !important;
}

.fa-calendar{
    position: absolute;
    right: 10%;
    top: 11px;
}

#date-format-err{
    color: red;
}

