/*Filter*/
.btn-date,
.btn-amount {
    border: 1px solid#00945E;
    background-color: #EBF1EF;
}

.form-control{
    border: 1px solid#00945E;
}
.btn-subscribe{
    background-color: #00945E;
    color: #FFFFFF;
}
.btn-subscribe:hover{
  background-color: rgba(4, 124, 80, 1);
}
.btn.active {
    background-color: #00945E;
    color: #FFFFFF;
}

.ui-datepicker-calendar { display: none; }
#ui-datepicker-div{
    position: fixed !important;
    top: 49% !important;
    left: 44% !important;
    transform: translate(-50%, -50%);
}
[data-handler="today"] {
    display: none
}

.switch-list li.active{
    border-bottom: 2px solid #00945e;
}

.monthYearPicker,
.yearPicker{
    display: none;
}


.modal-title{
color: #00945E;
padding-left: 20px !important;
padding-right: 20px !important;
}

#modal section{
padding-left: 20px !important;
padding-right: 20px !important;
}

#apply-filter{
    background-color: rgba(0, 148, 94, 1)
}
#apply-filter:hover{
  background-color: rgba(4, 124, 80)
}

#sort-options{
margin-bottom: 25px;
margin-top: 30px;
}

#view{
margin-top: 16px;
}

.modal-footer{
    padding-bottom: 25px;
    border-top: none !important;
}

.fa-calendar{
    position: absolute;
    right: 10%;
    top: 11px;
}

#date-format-err{
    color: red;
}

/*radio buttons*/
.containers {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .containers input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .containers:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .containers input:checked ~ .checkmark {
    background-color: #00945E;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .containers input:checked ~ .checkmark:after {
    display: block;
  }
  
  .containers .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

  .said-date{
    color:#1e7e34;
  }