@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,900&display=swap');


*, body {
        padding: 0;
        margin: 0;
        font-weight: normal;
        font-family: Lato;
      }


.heading {
    margin-top: 30px;
    margin-bottom: 20vh;
}

.heading h1{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 152%;
    color: #353A45;
    margin-top: -100px;
}

.heading p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
    color: #353A45;
    width: 45vw;
}

.bd-1 {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 20vh;
    margin-top: -60px;
    margin-bottom: 2rem !important;
}

.bd-2 {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 20vh;
    background-color: #00945E;
    color: #FFF;
}

.bd-1 h2, .bd-2 h2 {
    font-size: 4.5vh;
}

i .fa-angle-up .collapsed {
    background-color: rgba(0, 0, 0, 0.03)
}


h2 {
    position: relative;
    top: 3.5vh

}

.arrow {
    position: relative;
    top: -2vh
}

th {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 134.77%;
    align-items: center;
    text-align: center;
    color: #353A45;
}

td {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #191E29;

}

.row-m {
text-indent: 2vw;
  text-align: left;
}

.row-ministry{
    text-align: left;

}

table, tr, td, tbody {
    border: none !important;
}

th{
    border-top: none !important;
}

.table-overflow {
    text-indent: 3vw;
}
.clear {
    clear: both;
}

.results {
    position: relative;
    left: -1.5vw;

}

.results label, .results span{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #191E29;
    opacity: 0.6
}

.year {
    position: relative;
    right: 2vw
}
.page {
    position: relative;
    margin-left: 1vw
}

.pagination > li > a {
    background-color: #F1F1F1;
    border: none
}



.pagination > .active > a
{
    color: white;
    background-color: #00945E !Important;
}

select {
    border: 2px solid #00945E;
    border-radius: 3px
}



.port-row {
    width: 30vw
}


@media screen and (max-width: 1440px) {
.table-overflow {
    text-indent: 8vw;
}
}

@media screen and (max-width: 1085px) {
    .table-overflow {
        text-indent: 13vw;
    }
    }

@media screen and (max-width: 1024px) {
    .table-overflow {
        text-indent: 13vw;
    }
    }
    @media screen and (max-width: 991px) {
    .table-overflow {
        text-indent: 8vw;
    }
}


@media screen and (max-width: 850px) {
.pagination{
        position: relative;
        width: -1vw

    }
.results {
        width: 30vw;
    }

.heading h1{
    font-size: 5vw;
}
.heading p {
    font-size: 3vw;


    }

.table-overflow {
    text-indent: 8vw;
}
}

@media screen and (max-width: 768px) {
    .table-overflow {
        text-indent: 10vw;
    }
    }

@media screen and (max-width: 461px) {
.bd-1 h2, .bd-2 h2 {
        font-size: 3vh;
    }

.heading h1{
    font-size: 8vw;
    text-align: center
}
.heading p {
    font-size: 4vw;
    width: auto;
    text-align: center;
    margin: auto;
    }

    .page {
        display: grid !important;
    }

}

@media screen and (max-width: 461px) {
    .bd-1 h2, .bd-2 h2 {
        font-size: 4vh;
        margin-left: 0px !important;
    }

}
