body {
    margin: 0;
    overflow-x: hidden;
  }

  .outer-margin {
    margin: 0 35px !important;
  }

  .back {
    margin-right: -20px;
  }

  .navbar {
    width: 100%;
  }

  .nav-link {
    color: #323E48 !important;
    font-size: 20px !important;
    margin-left: 40px;
  }

  .active {
    font-weight: bold !important;
  }

  .dropdown-menu {
      margin-top: 15px !important;
      border-radius: 0 !important;
      border: none !important;
  }

  .for-spending {
    padding: 6px 14px !important;
    color: #323E48 !important;
    font-size: 19px;
  }

  .for-about {
    padding-bottom: 6px ;
    padding-left: 44px !important;
    color: #323E48 !important;
    font-size: 19px;
  }

  .nav-item,
  .search {
    background-color: #ffff !important;
  }

  .drop-search {
    background-color: transparent !important;
  }

  .dropdown-item-search {
    padding: 0 !important;
    margin-top: 4px !important;
    color: transparent !important;
  }

  .dropdown-item-search-control {
    width: 265% !important;
    margin-left: -355px;
    font-size: 21px !important;
    color: #B1B3B7 !important;
    font-family: 'Lato', FontAwesome, sans-serif;
    opacity: 1;
    border: 1px solid rgba(50, 62, 72, 0.7) !important;
    border-radius: 10px !important;
    height: 50px !important;
  }

  .dropdown-item-search-control::placeholder {
    font-weight: lighter !important;
    opacity: 0.5 !important;
  }

  .nav-link:hover {
    color: #00945E !important;
  }

  #active a:active {
    font-weight: bold !important;
  }

  /*.nav-link:active {
      font-weight: bold !important;
  }*/

  h6 {
    color: white;
    margin-top: 25px;
  }

  .fa-search {
    color: #8F9298 !important;
  }

  .fa-search:hover {
    color: black !important;
  }

  .ft {
    margin-top: 25px;
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    .outer-margin {
      margin: 0 25px !important;
    }

    .nav-link {
      margin-left: 20px;
      font-size: 18px !important;
    }

    .navbar-brand img {
      width: 80%;
    }

    .align {
      vertical-align: middle;
    }

      .dropdown-item-search-control {
        width: 235% !important;
        margin-left: -330px;
      }
  }

  @media (max-width: 770px) {
    .outer-margin {
      margin: 0 !important;
    }

    .nav-link {
      margin-left: 10px;
      font-size: 14px !important;
    }

    .for-spending {
        font-size: 14px !important;
    }

    .for-about {
        padding-left: 18px !important;
        color: #323E48 !important;
        font-size: 14px !important;
    }

    .dropdown-menu-about {
      min-width: 0;
    }

    .navbar-brand {
      width: 30%;
    }

    .navbar-brand img {
      width: 65%;
    }

    .align {
      vertical-align: middle;
    }

    .drop-search {
        background-color: transparent !important;
        margin-top: 8px !important;
      }

      .dropdown-item-search-control {
        width: 190% !important;
        margin-left: -270px;
        font-size: 16px !important;
        height: 36px !important;
      }
  }

  @media (max-width: 575.98px) {
    .outer-margin {
      margin: 0 5px !important;
    }

    .navbar-brand img {
      width: 135%;
    }

    .navbar-toggler {
      font-size: 1.8rem !important;
    }

    .dropdown-menu-about, .dropdown-menu-spending {
      margin-top: 0 !important;
    }

      .drop-search {
        margin-top: 0 !important;
        padding-bottom: 0 !important;
      }

      .dropdown-item-search-control {
        width: 80% !important;
        margin-left: 10px;
        font-size: 14px !important;
        height: 35px !important;
      }
  }








footer {
font-family: 'Lato', sans-serif;
}

.main-footer-wrapper {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
align-items: center;
justify-content: center;
margin: 0;
padding-bottom: 60px;
background: #323E48;
font-family: 'Lato', sans-serif;
animation: Slide_left 1.1s ease-in;
}


.main-box1 {
color: whitesmoke;
padding-left: 20px;
height: 200px;
}

.brand-logo img {
margin-top: 40px;
margin-left: 55px;
}

.g-twitter-logo {
margin-top: 65px;
margin-left: 60px;
}

/* remove position: relative if link doesn't align with logo*/
.twitter a{
position: relative;
top: 35px;
text-decoration: none;
color: #FFF;
}
.twitter a:hover{
text-decoration: none;
color: #d5dfdd;
}

.main-box2 {
display: flex;
flex-wrap: wrap;
justify-content: flex-end;
}

.box3 {
margin-right: 100px;
}

.box1, .box2 {
margin-right: 40px;
}

.box1 h4, .box2 h4, .box3 h4{
color: #EBF1EF;
font-weight: 500;
font-size: 23px;
margin-top: 40px;
margin-bottom: 10px;
}

.box1 a, .box2 a, .box3 a {
display: block;
padding-top: 4px;
padding-bottom: 4px;
text-decoration: none;
color: #EBF1EF;
font-size: 16px;
}

.box1 a:hover, .box2 a:hover, .box3 a:hover{
color: #d5dfdd;
text-decoration: none;

}

.last-footer{
background-color: #1F2430;
width: 100%;
height: 40px;
animation: Slide_right 1.1s ease-in;
}

.last-footer ul {
display: flex;
list-style: none;
margin: 0;
padding-top: 10px;
padding-left: 80px;
}

.last-footer a{
text-decoration: none;
color: #FFF;
font-size: 12px;
}

.push{
margin-left: auto;
padding-right: 95px;
}


@media only screen and (width: 1024px) {
.main-footer-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-bottom: 60px;
  padding-right: 50px;
  background: #323E48;
  font-family: 'Lato', sans-serif;
}

.main-box2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
  flex-wrap: wrap;
  justify-content: flex-end;
}

.brand-logo img {
  margin-left: 30px;
}

.twitter img {
  margin-left: 35px;
}

.box3 {
  margin-right: 0;
}

.box1, .box2 {
  margin-right: 0;
}

.twitter a {
  font-size: 20px;
  top: 37px;
}

.push{
  padding-right: 55px;
}

.last-footer ul {
  padding-left: 55px;
}
}

@media only screen and (max-width: 769px) {
.main-footer-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-bottom: 15px;
  padding-right: 10px;
  background: #323E48;
  font-family: 'Lato', sans-serif;
}

.brand-logo img {
  margin-top: 30px;
  margin-left: 20px;
  width: 50%;
}

.twitter img {
  margin-top: 55px;
  margin-left: 24px;
  width: 5%;
}

.twitter a {
  top: 30px;
}

.main-box1 {
  padding-left: 0;
  height: 180px;
}

.main-box2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  flex-wrap: wrap;
  justify-content: flex-end;
}

.box3 {
  margin-right: 0;
}

.box1, .box2 {
  margin-right: 0;
}

.box1 h4, .box2 h4, .box3 h4{
  color: #EBF1EF;
  font-weight: 500;
  font-size: 16px;
  margin-top: 5px;
}

.box1 a, .box2 a, .box3 a {
  color: #EBF1EF;
  font-size: 11px;
}

.last-footer ul {
  padding-left: 25px;
}

.push{
  padding-right: 30px;
}
}

@media only screen and (max-width: 425px) {
.main-footer-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding-bottom: 25px;
  padding-right: 0;
}

.main-box1 {
  height: 127px;
  padding-left: 0;
}

.main-box2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  padding-right: 15px;
}

.box1, .box2, .box3 {
  margin-right: 0;
  justify-self: center;
}

.box1 h4, .box2 h4, .box3 h4 {
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
}

.box1 a, .box2 a, .box3 a {
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 11px;
  padding-left: 0;
}

.brand-logo img {
  margin-top: 20px;
  width: 50%;
  margin-left: 0;
}

.brand-logo {
  text-align: center;
}

.twitter img {
  margin-top: 15px;
  margin-left: 148px;
  width: 5%;
}

.twitter a{
  position: relative;
  top: 10px;
  text-decoration: none;
  color: #FFF;
}

.last-footer{
  background-color: #1F2430;
  width: 100%;
  height: 53px;
}

.last-footer ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding-top: 5px;
  padding-left: 85px;
}

.last-footer a{
  text-decoration: none;
  color: #FFF;
  font-size: 10px;
}

.push{
  margin: 0 auto;
  padding-right: 85px;
}

}

@media only screen and (max-width: 375px) {
.main-footer-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding-bottom: 25px;
}

.main-box1 {
  height: 113px;
}

.main-box2 {
  padding-right: 5px;
  margin-left: -7px;
}

.brand-logo, .twitter {
  text-align: center;
}

.brand-logo img {
  width: 55%;
  margin-top: 21px;
  margin-left: 0;
}

.twitter img {
  width: 4%;
  margin-top: 11px;
  margin-left: 0px;
}

.twitter a{
  position: relative;
  top: 7px;
  font-size: 15px;
}

.box1 h4, .box2 h4, .box3 h4 {
  margin-bottom: 6px;
}

.last-footer {
  height: 48px;
}

.last-footer ul {
  padding-top: 0;
  padding-left: 55px;
}

.push{
  padding-right: 65px;
}
}

@media only screen and (max-width: 320px) {
.main-footer-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.main-box1 {
  height: 108px;
}

.main-box2 {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 7px;
  margin-left: 0;
  padding-right: 0;
}

.box1, .box2, .box3 {
  margin-right: 0;
  justify-self: start;
  margin-left: 30px;
}

.box1 h4, .box2 h4, .box3 h4 {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;

}

.box1 a, .box2 a, .box3 a {
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 12px;
  padding-left: 0;
}

.brand-logo, .twitter {
  text-align: start;
}

.brand-logo img {
  margin-top: 20px;
  margin-left: 30px;
}

.twitter img {
  margin-top: 15px;
  margin-left: 33px;
}

.twitter a{
  position: relative;
  top: 8px;
  font-size: 12px;
}

.last-footer ul {
  padding-top: 0;
  padding-left: 29px;
}

.last-footer a {
  font-size: 11px;
}

.push{
  padding-right: 29px;
}
}
