* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--ff-primary: 'Lato' sans-serif;
  
	--fw-reg: 400;
	--fw-normal: 500;
	--fw-bold: 700;
  
	--clr-light: #fff;
	--clr-dark: #A1A3A8;
	--clr-accent: #00945E;
	--clr-white: #f2faf7;
  
	--fs-h2: 2.15rem;
	--fs-h3: 1.5rem;
	--fs-h4: 1.25rem;
	--fs-h5: 1.1rem;
	--fs-h6: .9rem;
	--fs-reg: .9rem;
}

body{
	font-size: var(--fs-h6);
	font-family: var(--ff-primary);
}

a,
a:hover,
a:active{
	text-decoration: none;
	color: var(--clr-accent);
}


.section-wrapper{
	margin-top: 5.5rem;
}


/* breadcrumb */
.breadcrumb{
	padding-left: 0;
	font-size: var(--fs-h6);
}

.breadcrumb span{
	margin: 0 1rem;
	color: var(--clr-accent);
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ".";
  font-weight: var(--fw-bold);
}

.breadcrumb > .active {
color: var(--clr-accent);
text-decoration: none;
}

.breadcrumb-item a{
	color: var(--clr-accent);
	font-weight: var(--fw-bold);
	text-decoration: none;
}

.section-heading-title{
	font-size: var(--fs-h2);
	font-weight: bolder;
}

.section-heading-paragraph{
	font-size: var(--fs-h5);
	font-weight: var(--fw-normal);
}


/* TABLE */


.reponsive-div {
	margin: 0 auto;
}

.main-table {
	border: 1px solid var(--clr-dark);
	margin-top: 20px;
	margin-bottom: 20px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	overflow-x: auto;
	table-layout: fixed;
}

.table-section {
	padding: 8px;
}

.table-top > h3 {
	font-size: var(--fs-h4);
	font-weight: var(--fw-normal);
	margin: 0;
}

.ministry{
    color: var(--clr-accent);
}

.table-top button {
	padding: .5rem 1.5rem;
	background: var(--clr-accent);
	color: var(--clr-light);
	border-radius: 5px;
	font-size: var(--fs-h5);
	cursor: pointer;
	border: none;
	outline: none;
}

table a {
	border-bottom: 0.2px solid var(--clr-accent);
}

th,
td {
	text-align: left;
	padding: 0.75rem;
}

tr{
	font-size: var(--fs-reg) !important;
}

th {
	background: var(--clr-light);
	color: black !important;
	font-weight: var(--fw-bold);
	font-size: var(--fs-h5);
}

table.border{
	border: 1px solid var(--clr-accent) !important;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
	background-color: var(--clr-white) !important;
	   
}

.table-striped > tbody > tr:nth-child(2n+2) > td, .table-striped > tbody > tr:nth-child(2n+2) > th {
	background-color: var(--clr-light) !important;
	
}

.table-bordered{
	border: 1px solid var(--clr-accent) !important;
}

tr > :nth-child(1) {
	color: var(--clr-accent);
	margin-right: 2rem;
}

.section-shadow{
	box-shadow: 15px 0 15px -15px unset var(--clr-dark);
}

.table-bordered td, .table-bordered th {
    border: 1px solid var(--clr-accent);
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid var(--clr-accent);
}

.table td, .table th {
    padding: .85rem .75rem .85rem;
    vertical-align: top;
	border-top: 1px solid #fff;
}

#myTable .table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #00945E;
}

.table-overflow{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

.row-ministry{
	width: 15%;
}
.row-project{
	width: 25%;
}
.row-company{
	width: 13%;
}
.row-amount{
	width: 15%;
}
.row-date{
	width: 15%;
}

#mytable{
	width: 100%;
}

/* Pagination */
.table-footer{
	margin: 3rem .5rem;
}

.table-section{
	margin-bottom: 3rem;
}

.table-footer {
	display: flex;
	justify-content: space-between;
	padding: 5px 10px;
	margin: 10px 5px;
}
  
.table-footer > span {
	margin: 0;
	color: grey;
	font-size: var(--fs-reg);
	font-weight: 200;
}

.pagination {
	background: #f2f2f2;
	height: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pagination1{
	margin: 2rem .5rem 4rem;
}

.pagination2{
	margin: 0 0 7rem;
}

.pagination a {
  color: black !important;
  float: left;
  padding: 8px 16px;
  text-decoration: none !important;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #00945e !important;
  color: white !important;
  border: 1px solid #00945e !important;
}

.pagination a:hover:not(.active) {
  background-color: #ddd !important;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
  

.text-center.active{
	background-color: var(--clr-accent);
}

.container.year{
	border: 1px solid transparent;
}

.section-button{
	border-bottom: 1px solid #D5D9D8;
	margin: 6rem 0 3rem 0;
}

.responsive-button{
	font-size: var(--fs-reg) !important;
}

.button{
    border: none;
    background-color: inherit;
    border-bottom: 2px solid var(--clr-dark);
    color: var(--clr-dark);
    outline: none;
    padding-bottom: 10px;
}

.button:hover{
    color: var(--clr-accent);
    border-bottom: 2px solid  var(--clr-accent) ;
}

.button:focus{
    outline: none;
}

.btn-marg{
	margin-left: 2rem;
}

.btn-group .active{
	color: var(--clr-accent) ;
	border-bottom: 2px solid var(--clr-accent);
}



/* scrollbar */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color:rgba(0,148,94,0.62);
    -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
}

/* Responsiveness */

@media all and (max-width: 1440px){
	:root{
		--fs-h2: 2.15rem;
		--fs-h3: 1.5rem;
		--fs-h4: 1.25rem;
		--fs-h5: 1.1rem;
		--fs-h6: .9rem;
		--fs-reg: .9rem;
	}
}

@media all and (max-width: 1024px){
	:root{
		--fs-h2: 2rem;
		--fs-h3: 1.35rem;
		--fs-h4: 1.15rem;
		--fs-h5: 1rem;
		--fs-h6: .8rem;
		--fs-reg: .8rem;
	}
		
	.row-ministry{
		width: 15%;
	}
	.row-project{
		width: 20%;
	}
	.row-company{
		width: 13%;
	}
	.row-amount{
		width: 15%;
	}
	.row-date{
		width: 15%;
	}

}

@media all and (max-width: 768px){
	:root{
		--fs-h2: 1.85rem;
		--fs-h3: 1.2rem;
		--fs-h4: 1rem;
		--fs-h5: .9rem;
		--fs-h6: .6rem;
		--fs-reg: .6rem;
	}
	.container .responsive-button{
		display: none !important;
	}
	.dropdown-button{
		background-color: var(--clr-accent);
		font-size: var(--fs-h6) !important;
	}
	.pagination1{
		display: flex;
		flex-direction: column-reverse;
	}
	.section-button{
		border: none;
		margin: 3rem 0 1rem !important;
	}
}

@media all and (min-width: 769px){
	.responsive-dropdown{
		display: none !important;
		margin: 2rem 0;
	}
}


@media all and (max-width: 425px){
	:root{
		--fs-h2: 1.7rem;
		--fs-h3: 1.05rem;
		--fs-h6: .65rem;
		--fs-h2: 1.55rem;
		--fs-h3: 1.05rem;
		--fs-h4: .8rem;
		--fs-h5: .6rem;
		--fs-h6: .6rem;
		--fs-reg: .6rem;
	}
}
