<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <title>Document</title>
</head>
<body>
    


    <footer>
        <div class="main-footer-wrapper">
            <div class="main-box1">
                <div class="brand-logo">
                    <img src="img/logo.png"><br>
                </div>
                <div class="twitter">
                    <img src="img/twitter-logo.png">
                    <a href="#">@expenseng</a>
                </div>
            </div>
            <div class="main-box2">
                <div class="box1">
                    <h4>About Us</h4>
                    <a href="#">About Expenseng.com</a>
                    <a href="#">Contact Us</a>
                </div>
                <div class="box2">
                    <h4>Pages</h4>
                    <a href="#">Home</a>
                    <a href="#">Daily Payment Report</a>
                    <a href="#">Companies</a>
                    <a href="#">Ministry</a>
                </div>
            </div>
        </div>
        <div class="last-footer">
            <ul>
                <li><a href="#">Accessibility |</a></li>
                <li><a href="#">&nbspPrivacy Policy |</a></li>
                <li><a href="#">&nbspFreedom of Information Act</a></li>
                <li class="push">
                    <a href="#">&#169; 2020 EXPENSENG.com</a>
                </li>
            </ul>
        </div>
    </footer>

</body>
</html>
