<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/header.css">
    <title>Header</title>
</head>
<body>
     <!-- navbar -->
     <header>
        <div class="logo">
            <img src="img/Group 380.svg" class="logo1" alt="logo" srcset="">
            <img src="img/Frame 384.svg" class="logo2" alt="logo" srcset="">
        </div>  
           
                <a href="#"><i class="fa fa-2x fa-bars menu-toggle" id="menu" aria-hidden="true"></i></a>
                <ul class="nav " id="nav">
                    <li><a href="index.html"class="active">Home</a></li>
                    <li><a href="ExpenditureReport.html">Expenditure Report</a></li>
                   
                    <li><a href="#">Ministry Info</a>
                        <ul>
                            <li><a href="#"class="">Ministry Report</a></li>
                            <li><a href="#"class="">Ministry Profile Search</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Company Info</a>
                        <ul>
                            <li><a href="companyprojects.html"class="">Company Report</a></li>
                            <li><a href="companyprofile.html"class="">Comapny Profile Search</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Reference</a>
                        <ul>
                            <li><a href="quickContacts.html"class="">Government Twitter Handles </a></li>
                            <li><a href="contact.html"class="">Contact Us</a></li>
                            <li><a href="#"class="">About Us</a></li>
                        </ul>
                    </li>
                </ul> 
            </header>
<!-- jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- custom script -->
    <script src="js/main.js"></script>
</body>
</html>